<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Telefônica</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <header>
        <h1>Agenda Telefônica</h1>
        <span>Desenvolvido por Henrique Araujo</span>
    </header>
    <hr>
    <div class="container">
        <div class="secao-cadastro">
            <form action="">
                <label >
                    Nome:<input type="text" id="input_nome">
                </label>
                <label>
                    Idade: <input type="text" id="input_idade">
                </label>
                <label>
                       Telefone: <input type="text" id="input_telefone" class="input-telefone">
                    <button id="btn_addTelefone">+</button>
                </label>

                <button>Cadastrar</button>
            </form>
        </div>
        <div class="secao-pesquisa">

        </div>
    </div>

</body>
</html>